<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
using System;
using System.Buffers;
using System.Diagnostics;

namespace Phlogopite.Extensions.Category
{
}
